In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
client = MongoClient("mongodb+srv://saisharanyasriramoju05:Sharanya032005@cluster0.7fmgr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client["hotel_guests"]

In [3]:
# Load CSV datasets
booking_df = pd.read_excel(r"C:\Users\SHARANYA_005\infosys\bookings.xlsx")
dining_df = pd.read_excel(r"C:\Users\SHARANYA_005\infosys\dining_info.xlsx")
reviews_df = pd.read_excel(r"C:\Users\SHARANYA_005\infosys\reviews_data.xlsx")

In [4]:
# Convert DataFrames to JSON
booking_data = booking_df.to_dict(orient="records")
dining_data = dining_df.to_dict(orient="records")
reviews_data = reviews_df.to_dict(orient="records")

In [5]:
# Insert data into MongoDB collections
db["booking_data"].insert_many(booking_data)
db["dining_info"].insert_many(dining_data)
db["reviews_data"].insert_many(reviews_data)

print("Data successfully loaded into MongoDB!")

Data successfully loaded into MongoDB!

In [6]:
# Fetch data from MongoDB
def fetch_data(collection_name):
    collection = db[collection_name]
    return pd.DataFrame(list(collection.find()))

In [7]:
# Load data into Pandas DataFrames
booking_df = fetch_data("booking_data")
dining_df = fetch_data("dining_info")
reviews_df = fetch_data("reviews_data")

In [8]:
# Data Cleaning
def clean_data(df, date_columns=[], numeric_columns=[]):
    df.drop(columns=["_id"], errors="ignore", inplace=True)  # Remove MongoDB ID field
    for col in date_columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")  # Convert to numeric
    df.fillna(method="ffill", inplace=True)  # Handle missing values
    return df

In [9]:
def clean_data(df, date_columns, numeric_columns):
    """Cleans the dataset by handling missing values and converting data types."""
    df[date_columns] = df[date_columns].apply(pd.to_datetime, errors='coerce')  # Convert to datetime
    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')  # Convert to numeric

    df.ffill(inplace=True)  # Forward fill missing values
    return df

In [10]:
# Clean data
booking_df = clean_data(booking_df, ["check_in_date", "check_out_date"], ["age", "number_of_stayers"])
dining_df = clean_data(dining_df, ["check_in_date", "check_out_date", "order_time"], ["age", "number_of_stayers", "price_for_1", "Qty"])
reviews_df = clean_data(reviews_df, ["review_date"], ["Rating"])

print("Data cleaned successfully!")

Data cleaned successfully!

In [11]:
booking_df

,_id,Unnamed: 0,customer_id,Preferred Cusine,age,number_of_stayers,check_in_date,check_out_date,booked_through_points
0,67d46ef80fb4abb2aea881ee,0,91,South Indian,31,1,2025-03-03,2025-10-03,0
1,67d46ef80fb4abb2aea881ef,1,92,South Indian,21,2,2025-08-05,2025-10-05,0
2,67d46ef80fb4abb2aea881f0,2,93,North Indian,48,2,2025-08-05,2025-10-05,1
3,67d46ef80fb4abb2aea881f1,3,94,South Indian,25,3,2025-08-05,2025-03-03,0
4,67d46ef80fb4abb2aea881f2,4,95,North Indian,22,1,2025-08-04,2025-11-04,0
...,...,...,...,...,...,...,...,...,...
70674,67d4f338c9a3682ec3af8e6d,9995,23,South Indian,30,1,2024-09-10,2024-10-10,0
70675,67d4f338c9a3682ec3af8e6e,9996,12,North Indian,35,1,2024-09-10,2024-10-10,0
70676,67d4f338c9a3682ec3af8e6f,9997,13,South Indian,45,1,2024-09-10,2024-10-10,0
70677,67d4f338c9a3682ec3af8e70,9998,3,South Indian,28,3,2023-01-02,2023-06-02,0
70678,67d4f338c9a3682ec3af8e71,9999,19,Multi,32,1,2024-07-09,2024-09-09,0

In [12]:
dining_df

,_id,Unnamed: 0,transaction_id,customer_id,Preferred Cusine,age,dish,Qty,price_for_1,number_of_stayers,check_in_date,check_out_date,order_time,booked_through_points
0,67b18a82438f361983be306a,26.0,7877757,117,Multi,30,Roti Curry,1,100,1,2024-12-03,2024-12-06 23:03:14,2024-12-04 13:27:54,0
1,67b18a82438f361983be3088,56.0,8027127,147,North Indian,35,Chinese Noodles,2,300,1,2023-01-01,2023-01-02 14:18:30,2023-01-01 22:21:16,0
2,67b18a82438f361983be3092,66.0,16594701,157,South Indian,23,Idli,2,75,2,2023-12-17,2023-12-20 07:22:07,2023-12-18 14:23:14,0
3,67b18a82438f361983be30a8,88.0,8168195,179,North Indian,30,Chocolate Cake,2,200,2,2024-11-16,2024-11-18 02:08:04,2024-11-16 20:49:06,1
4,67b18a82438f361983be30b3,99.0,5270551,190,South Indian,43,Idli,2,75,3,2023-04-04,2023-04-06 03:15:56,2023-04-04 14:10:01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,67d4f34bc9a3682ec3afb57d,9995.0,6513286,23,South Indian,30,Filter Coffee,1,80,1,2024-10-09,2024-10-10 21:11:26,2024-10-10 16:27:09,0
119996,67d4f34bc9a3682ec3afb57e,9996.0,4578482,12,North Indian,35,Roti Curry,1,100,1,2023-07-20,2023-07-21 12:39:56,2023-07-20 06:28:37,0
119997,67d4f34bc9a3682ec3afb57f,9997.0,1394756,13,South Indian,45,Palak Paneer,2,250,1,2023-07-26,2023-07-29 18:12:23,2023-07-28 03:08:27,0
119998,67d4f34bc9a3682ec3afb580,9998.0,6277632,3,South Indian,28,Roti Curry,3,100,3,2023-02-01,2023-02-06 07:30:00,2023-02-02 15:28:08,0
119999,67d4f34bc9a3682ec3afb581,9999.0,11933037,19,Multi,32,Masala Dosa,1,150,1,2024-09-07,2024-09-09 19:30:07,2024-09-09 05:10:01,0

In [13]:
reviews_df

,_id,review_id,customer_id,review_date,Review,Rating,review_date_numeric
0,67d46f0f0fb4abb2aea8d06f,11722,5380,2024-11-04,The room provided at first was a great disapp...,6.7,20241104
1,67d46f0f0fb4abb2aea8d070,8604,8832,2024-03-01,The room wasn t so large for a Deluxe King bu...,9.6,20240301
2,67d46f0f0fb4abb2aea8d071,3923,7301,2023-09-04,on arrival we had to wait over an hour after ...,7.1,20230904
3,67d46f0f0fb4abb2aea8d072,10050,3968,2023-09-02,The room reminded me of a dorm room furnished...,7.9,20230902
4,67d46f0f0fb4abb2aea8d073,2077,6085,2024-05-17,The room was very small the AC didn t work at...,8.8,20240517
...,...,...,...,...,...,...,...
58669,67d4f396c9a3682ec3afd63b,5928,1546,2023-04-30,Bathroom and toilet are small but spotlessly ...,10.0,20230430
58670,67d4f396c9a3682ec3afd63c,7439,4787,2024-01-30,Heating system in the room instructions on ho...,9.2,20240130
58671,67d4f396c9a3682ec3afd63d,339,4936,2024-10-11,Entering the hotel involved crossing an open ...,9.2,20241011
58672,67d4f396c9a3682ec3afd63e,6816,8542,2024-09-01,The hotel is very old Room are out of date an...,4.2,20240901
58673,67d4f396c9a3682ec3afd63f,3429,1971,2024-10-15,The staff members were very friendly and hel...,10.0,20241015

In [14]:
#Dashboard 1: Hotel Booking Insights :

In [15]:
import dash
from dash import dcc, html, Input, Output, callback
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
from pymongo import MongoClient
from datetime import datetime, timedelta
import numpy as np
import calendar

# Initialize MongoDB connection
def init_mongodb():
    client = MongoClient("mongodb+srv://saisharanyasriramoju05:Sharanya032005@cluster0.7fmgr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
    return client

# Initialize the Dash app
app = dash.Dash(__name__, title="Hotel Booking Insights Dashboard")
server = app.server

# App layout
app.layout = html.Div([
    # Header
    html.Div([
        html.H1("Hotel Booking Insights", style={'textAlign': 'center', 'color': '#1e3d59'}),
        html.P("Interactive analytics dashboard for booking trends and customer preferences", 
               style={'textAlign': 'center', 'color': '#666', 'fontStyle': 'italic'})
    ], style={'padding': '20px', 'backgroundColor': '#f8f9fa', 'borderRadius': '10px', 'margin': '10px'}),
    
    # Date range selector
    html.Div([
        html.H4("Date Range Selection"),
        dcc.DatePickerRange(
            id='date-range',
            min_date_allowed=datetime(2023, 1, 1),
            max_date_allowed=datetime(2025, 12, 31),
            start_date=datetime.now() - timedelta(days=90),
            end_date=datetime.now(),
            display_format='YYYY-MM-DD'
        ),
    ], style={'padding': '20px', 'backgroundColor': 'white', 'borderRadius': '10px', 'margin': '10px'}),
    
    # Dashboard metrics - KPIs
    html.Div([
        html.Div([
            html.H4("Total Bookings", style={'textAlign': 'center'}),
            html.H2(id='total-bookings', style={'textAlign': 'center', 'color': '#1e3d59'})
        ], className="four columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px'}),
        
        html.Div([
            html.H4("Average Length of Stay", style={'textAlign': 'center'}),
            html.H2(id='avg-stay', style={'textAlign': 'center', 'color': '#1e3d59'})
        ], className="four columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px'}),
        
        html.Div([
            html.H4("Most Popular Room", style={'textAlign': 'center'}),
            html.H2(id='popular-room', style={'textAlign': 'center', 'color': '#1e3d59'})
        ], className="four columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px'})
    ], className="row", style={'display': 'flex', 'justifyContent': 'space-between', 'margin': '10px'}),
    
    # Main charts
    html.Div([
        # Bookings Trend
        html.Div([
            html.H4("Bookings Trend Over Time"),
            dcc.RadioItems(
                id='time-interval',
                options=[
                    {'label': 'Daily', 'value': 'D'},
                    {'label': 'Weekly', 'value': 'W'},
                    {'label': 'Monthly', 'value': 'M'}
                ],
                value='D',
                inline=True
            ),
            dcc.Graph(id='bookings-trend')
        ], className="six columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'width': '48%'}),
        
        # Room Type Distribution
        html.Div([
            html.H4("Room Type Distribution"),
            dcc.Graph(id='room-distribution')
        ], className="six columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'width': '48%'})
    ], className="row", style={'display': 'flex', 'justifyContent': 'space-between', 'margin': '10px'}),
    
    # Second row of charts
    html.Div([
        # Preferred Cuisine Analysis
        html.Div([
            html.H4("Preferred Cuisine Analysis"),
            dcc.Graph(id='cuisine-analysis')
        ], className="six columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'width': '48%'}),
        
        # Average Length of Stay
        html.Div([
            html.H4("Average Length of Stay by Month"),
            dcc.Graph(id='stay-duration')
        ], className="six columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'width': '48%'})
    ], className="row", style={'display': 'flex', 'justifyContent': 'space-between', 'margin': '10px'}),
    
    # Booking Source & Age Distribution
    html.Div([
        # Booking Source
        html.Div([
            html.H4("Booking Source Distribution"),
            dcc.Graph(id='booking-source')
        ], className="six columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'width': '48%'}),
        
        # Age Distribution
        html.Div([
            html.H4("Guest Age Distribution"),
            dcc.Graph(id='age-distribution')
        ], className="six columns", style={'backgroundColor': 'white', 'padding': '20px', 'borderRadius': '10px', 'width': '48%'})
    ], className="row", style={'display': 'flex', 'justifyContent': 'space-between', 'margin': '10px'})
], style={'backgroundColor': '#f0f2f6', 'padding': '20px', 'fontFamily': 'Arial'})

# Callback to update all graphs
@app.callback(
    [Output('total-bookings', 'children'),
     Output('avg-stay', 'children'),
     Output('popular-room', 'children'),
     Output('bookings-trend', 'figure'),
     Output('room-distribution', 'figure'),
     Output('cuisine-analysis', 'figure'),
     Output('stay-duration', 'figure'),
     Output('booking-source', 'figure'),
     Output('age-distribution', 'figure')],
    [Input('date-range', 'start_date'),
     Input('date-range', 'end_date'),
     Input('time-interval', 'value')]
)
def update_graphs(start_date, end_date, time_interval):
    try:
        # Connect to MongoDB and get data
        client = init_mongodb()
        db = client["hotel_guests"]
        collection = db["new_bookings"]
        
        # Convert string dates to datetime objects
        start_date = datetime.strptime(start_date.split('T')[0], '%Y-%m-%d')
        end_date = datetime.strptime(end_date.split('T')[0], '%Y-%m-%d')
        
        # Query data in date range
        query = {
            "check_in_date": {"$gte": start_date, "$lte": end_date}
        }
        
        bookings_data = list(collection.find(query))
        
        # If no data, return empty figures
        if not bookings_data:
            empty_fig = go.Figure().update_layout(title_text="No data available for selected date range")
            return "0", "0 days", "N/A", empty_fig, empty_fig, empty_fig, empty_fig, empty_fig, empty_fig
        
        # Convert to DataFrame
        df = pd.DataFrame(bookings_data)
        
        # Calculate stay duration
        df['stay_duration'] = (df['check_out_date'] - df['check_in_date']).dt.days
        
        # KPI calculations
        total_bookings = len(df)
        avg_stay = f"{df['stay_duration'].mean():.1f} days"
        
        # Find most popular room if 'room_type' exists
        popular_room = "N/A"
        if 'room_type' in df.columns:
            room_counts = df['room_type'].value_counts()
            if not room_counts.empty:
                popular_room = room_counts.index[0]
        
        # Bookings Trend Over Time
        df['date'] = df['check_in_date'].dt.date
        time_group = df.groupby(pd.Grouper(key='check_in_date', freq=time_interval)).size().reset_index(name='count')
        
        # Format x-axis labels based on time interval
        if time_interval == 'M':
            time_group['period'] = time_group['check_in_date'].dt.strftime('%b %Y')
        elif time_interval == 'W':
            time_group['period'] = time_group['check_in_date'].dt.strftime('Week %U, %Y')
        else:  # Daily
            time_group['period'] = time_group['check_in_date'].dt.strftime('%Y-%m-%d')
        
        bookings_trend_fig = px.line(
            time_group, 
            x='check_in_date', 
            y='count',
            labels={'count': 'Number of Bookings', 'check_in_date': 'Date'},
            title='Booking Trends'
        )
        bookings_trend_fig.update_layout(
            hovermode='x unified',
            xaxis_title='Date',
            yaxis_title='Number of Bookings'
        )
        
        # Room Type Distribution
        if 'room_type' in df.columns:
            room_counts = df['room_type'].value_counts().reset_index()
            room_counts.columns = ['Room Type', 'Count']
            room_dist_fig = px.pie(
                room_counts, 
                values='Count', 
                names='Room Type',
                title='Room Type Distribution',
                hole=0.4
            )
        else:
            room_dist_fig = go.Figure().update_layout(title_text="Room type data not available")
        
        # Preferred Cuisine Analysis
        if 'Preferred Cusine' in df.columns:
            cuisine_counts = df['Preferred Cusine'].value_counts().reset_index()
            cuisine_counts.columns = ['Cuisine Type', 'Count']
            cuisine_fig = px.bar(
                cuisine_counts, 
                x='Cuisine Type', 
                y='Count',
                color='Cuisine Type',
                title='Preferred Cuisine Distribution'
            )
        else:
            cuisine_fig = go.Figure().update_layout(title_text="Cuisine data not available")
        
        # Average Length of Stay by Month
        df['month'] = df['check_in_date'].dt.month
        df['month_name'] = df['month'].apply(lambda x: calendar.month_name[x])
        monthly_stay = df.groupby('month_name')['stay_duration'].mean().reindex(
            [calendar.month_name[i] for i in range(1, 13)]
        ).dropna().reset_index()
        
        stay_fig = px.bar(
            monthly_stay, 
            x='month_name', 
            y='stay_duration',
            title='Average Length of Stay by Month',
            labels={'stay_duration': 'Avg. Days', 'month_name': 'Month'}
        )
        
        # Booking Source Distribution (using points vs non-points as proxy)
        if 'booked_through_points' in df.columns:
            # Convert to numeric if it's stored as string
            if df['booked_through_points'].dtype == 'object':
                df['booking_source'] = df['booked_through_points'].map({'Yes': 'Points', 'No': 'Direct'})
            else:
                df['booking_source'] = df['booked_through_points'].map({1: 'Points', 0: 'Direct'})
                
            source_counts = df['booking_source'].value_counts().reset_index()
            source_counts.columns = ['Booking Source', 'Count']
            source_fig = px.pie(
                source_counts, 
                values='Count', 
                names='Booking Source',
                title='Booking Source Distribution'
            )
        else:
            source_fig = go.Figure().update_layout(title_text="Booking source data not available") 
        
        # Age Distribution
        if 'age' in df.columns:
            age_bins = [15, 25, 35, 45, 55, 65, 75, 85, 95]
            age_labels = ['16-25', '26-35', '36-45', '46-55', '56-65', '66-75', '76-85', '86+']
            df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)
            age_counts = df['age_group'].value_counts().reset_index()
            age_counts.columns = ['Age Group', 'Count']
            age_fig = px.bar(
                age_counts, 
                x='Age Group', 
                y='Count',
                title='Guest Age Distribution'
            )
        else:
            age_fig = go.Figure().update_layout(title_text="Age data not available")
        
        return str(total_bookings), avg_stay, popular_room, bookings_trend_fig, room_dist_fig, cuisine_fig, stay_fig, source_fig, age_fig
    
    except Exception as e:
        print(f"Error updating graphs: {e}")
        empty_fig = go.Figure().update_layout(title_text=f"Error: {str(e)}")
        return "Error", "Error", "Error", empty_fig, empty_fig, empty_fig, empty_fig, empty_fig, empty_fig

if __name__ == '__main__':
    app.run_server(debug=True)

In [16]:
# Dashboard 2: Dining Insights

In [17]:
import dash
from dash import dcc, html, Input, Output, callback
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
from pymongo import MongoClient
from datetime import datetime, timedelta

# Initialize MongoDB connection
def init_mongodb():
    client = MongoClient("mongodb+srv://saisharanyasriramoju05:Sharanya032005@cluster0.7fmgr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
    return client

# Connect to MongoDB and load data
client = init_mongodb()
db = client["hotel_guests"]
collection = db["dining_info"]

# Load data from MongoDB
def load_dining_data():
    df = pd.DataFrame(list(collection.find()))
    
    # Data preprocessing
    df['order_time'] = pd.to_datetime(df['order_time'])
    df['check_in_date'] = pd.to_datetime(df['check_in_date'])
    df['check_out_date'] = pd.to_datetime(df['check_out_date'])
    df['stay_duration'] = (df['check_out_date'] - df['check_in_date']).dt.days
    
    return df

# Initialize the Dash app
app = dash.Dash(__name__, suppress_callback_exceptions=True)

# App layout
app.layout = html.Div([
    html.H1("Hotel Dining Insights Dashboard", className="dashboard-title"),
    
    html.Div([
        html.Div([
            html.H3("Filter Data", className="filter-title"),
            html.Label("Date Range:"),
            dcc.DatePickerRange(
                id='date-range',
                start_date=(datetime.now() - timedelta(days=90)).date(),
                end_date=datetime.now().date(),
                className="date-picker"
            ),
            html.Label("Cuisine Type:"),
            dcc.Dropdown(
                id='cuisine-filter',
                options=[],  # Will be populated in callback
                multi=True,
                placeholder="Select cuisines...",
                className="dropdown"
            ),
        ], className="filter-container"),
    ], className="controls-container"),
    
    html.Div([
        html.Div([
            html.H3("Average Dining Cost by Cuisine", className="chart-title"),
            dcc.Graph(id='cuisine-cost-chart')
        ], className="chart-container"),
        
        html.Div([
            html.H3("Revenue by Time Period", className="chart-title"),
            dcc.RadioItems(
                id='time-period',
                options=[
                    {'label': 'Daily', 'value': 'D'},
                    {'label': 'Weekly', 'value': 'W'},
                    {'label': 'Monthly', 'value': 'M'}
                ],
                value='W',
                inline=True,
                className="radio-items"
            ),
            dcc.Graph(id='revenue-time-chart')
        ], className="chart-container"),
    ], className="charts-row"),
    
    html.Div([
        html.Div([
            html.H3("Popular Dishes by Cuisine", className="chart-title"),
            dcc.Graph(id='popular-dishes-chart')
        ], className="chart-container"),
        
        html.Div([
            html.H3("Dining Orders by Hour of Day", className="chart-title"),
            dcc.Graph(id='hourly-orders-chart')
        ], className="chart-container"),
    ], className="charts-row"),
    
    html.Div([
        html.Div([
            html.H3("Average Stay Duration vs. Dining Frequency", className="chart-title"),
            dcc.Graph(id='stay-dining-chart')
        ], className="wide-chart-container"),
    ], className="charts-row"),
])

# Populate filter options
@app.callback(
    Output('cuisine-filter', 'options'),
    Input('date-range', 'start_date'),
    Input('date-range', 'end_date')
)
def update_cuisine_options(start_date, end_date):
    df = load_dining_data()
    
    # Filter by date range
    if start_date and end_date:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        df = df[(df['order_time'] >= start_date) & (df['order_time'] <= end_date)]
    
    # Get unique cuisines
    cuisines = df['Preferred Cusine'].unique()
    return [{'label': cuisine, 'value': cuisine} for cuisine in cuisines]

# Cuisine cost chart
@app.callback(
    Output('cuisine-cost-chart', 'figure'),
    Input('date-range', 'start_date'),
    Input('date-range', 'end_date'),
    Input('cuisine-filter', 'value')
)
def update_cuisine_cost_chart(start_date, end_date, selected_cuisines):
    df = load_dining_data()
    
    # Apply filters
    if start_date and end_date:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        df = df[(df['order_time'] >= start_date) & (df['order_time'] <= end_date)]
    
    if selected_cuisines and len(selected_cuisines) > 0:
        df = df[df['Preferred Cusine'].isin(selected_cuisines)]
    
    # Calculate average cost by cuisine
    cuisine_cost = df.groupby('Preferred Cusine')['price_for_1'].mean().reset_index()
    cuisine_cost = cuisine_cost.sort_values('price_for_1', ascending=False)
    
    # Create pie chart
    fig = px.pie(
        cuisine_cost, 
        values='price_for_1', 
        names='Preferred Cusine',
        title='Average Cost Distribution by Cuisine',
        color_discrete_sequence=px.colors.qualitative.Pastel
    )
    
    fig.update_traces(textposition='inside', textinfo='percent+label')
    fig.update_layout(
        margin=dict(l=10, r=10, t=50, b=10),
        legend=dict(orientation="h", yanchor="bottom", y=-0.2, xanchor="center", x=0.5)
    )
    
    return fig

# Revenue over time chart
@app.callback(
    Output('revenue-time-chart', 'figure'),
    Input('date-range', 'start_date'),
    Input('date-range', 'end_date'),
    Input('cuisine-filter', 'value'),
    Input('time-period', 'value')
)
def update_revenue_time_chart(start_date, end_date, selected_cuisines, time_period):
    df = load_dining_data()
    
    # Apply filters
    if start_date and end_date:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        df = df[(df['order_time'] >= start_date) & (df['order_time'] <= end_date)]
    
    if selected_cuisines and len(selected_cuisines) > 0:
        df = df[df['Preferred Cusine'].isin(selected_cuisines)]
    
    # Calculate total revenue
    df['revenue'] = df['price_for_1'] * df['Qty']
    
    # Group by time period
    df['time_period'] = df['order_time'].dt.to_period(time_period)
    revenue_time = df.groupby('time_period')['revenue'].sum().reset_index()
    revenue_time['time_period'] = revenue_time['time_period'].astype(str)
    
    # Create line chart
    fig = px.line(
        revenue_time, 
        x='time_period', 
        y='revenue',
        title=f'Revenue Trend ({"Daily" if time_period == "D" else "Weekly" if time_period == "W" else "Monthly"})',
        markers=True
    )
    
    fig.update_layout(
        xaxis_title="Time Period",
        yaxis_title="Total Revenue",
        margin=dict(l=10, r=10, t=50, b=10)
    )
    
    return fig

# Popular dishes chart
@app.callback(
    Output('popular-dishes-chart', 'figure'),
    Input('date-range', 'start_date'),
    Input('date-range', 'end_date'),
    Input('cuisine-filter', 'value')
)
def update_popular_dishes_chart(start_date, end_date, selected_cuisines):
    df = load_dining_data()
    
    # Apply filters
    if start_date and end_date:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        df = df[(df['order_time'] >= start_date) & (df['order_time'] <= end_date)]
    
    if selected_cuisines and len(selected_cuisines) > 0:
        df = df[df['Preferred Cusine'].isin(selected_cuisines)]
    
    # Get popular dishes (top 10)
    dish_counts = df.groupby(['dish', 'Preferred Cusine']).size().reset_index(name='count')
    top_dishes = dish_counts.sort_values('count', ascending=False).head(10)
    
    # Create bar chart
    fig = px.bar(
        top_dishes, 
        x='dish', 
        y='count',
        color='Preferred Cusine',
        title='Top 10 Most Popular Dishes',
        text='count'
    )
    
    fig.update_layout(
        xaxis_title="Dish",
        yaxis_title="Order Count",
        xaxis={'categoryorder':'total descending'},
        margin=dict(l=10, r=10, t=50, b=20)
    )
    
    fig.update_traces(texttemplate='%{text}', textposition='outside')
    
    return fig

# Hourly distribution chart
@app.callback(
    Output('hourly-orders-chart', 'figure'),
    Input('date-range', 'start_date'),
    Input('date-range', 'end_date'),
    Input('cuisine-filter', 'value')
)
def update_hourly_orders_chart(start_date, end_date, selected_cuisines):
    df = load_dining_data()
    
    # Apply filters
    if start_date and end_date:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        df = df[(df['order_time'] >= start_date) & (df['order_time'] <= end_date)]
    
    if selected_cuisines and len(selected_cuisines) > 0:
        df = df[df['Preferred Cusine'].isin(selected_cuisines)]
    
    # Extract hour of day
    df['hour'] = df['order_time'].dt.hour
    hourly_counts = df.groupby('hour').size().reset_index(name='count')
    
    # Create bar chart
    fig = px.bar(
        hourly_counts, 
        x='hour', 
        y='count',
        title='Order Distribution by Hour of Day',
        labels={'hour': 'Hour of Day (24h)', 'count': 'Number of Orders'},
        text='count'
    )
    
    fig.update_layout(
        xaxis=dict(tickmode='linear', tick0=0, dtick=1),
        margin=dict(l=10, r=10, t=50, b=20)
    )
    
    fig.update_traces(texttemplate='%{text}', textposition='outside')
    
    return fig

# Stay duration vs dining frequency
@app.callback(
    Output('stay-dining-chart', 'figure'),
    Input('date-range', 'start_date'),
    Input('date-range', 'end_date'),
    Input('cuisine-filter', 'value')
)
def update_stay_dining_chart(start_date, end_date, selected_cuisines):
    df = load_dining_data()
    
    # Apply filters
    if start_date and end_date:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        df = df[(df['order_time'] >= start_date) & (df['order_time'] <= end_date)]
    
    if selected_cuisines and len(selected_cuisines) > 0:
        df = df[df['Preferred Cusine'].isin(selected_cuisines)]
    
    # Group by customer and stay duration
    customer_data = df.groupby(['customer_id', 'stay_duration']).size().reset_index(name='dining_frequency')
    
    # Create scatter plot
    fig = px.scatter(
        customer_data, 
        x='stay_duration', 
        y='dining_frequency',
        size='dining_frequency',
        title='Relationship Between Stay Duration and Dining Frequency',
        labels={'stay_duration': 'Stay Duration (days)', 'dining_frequency': 'Number of Dining Orders'},
        opacity=0.7
    )
    
    # Add trendline
    fig.update_layout(
        xaxis_title="Stay Duration (days)",
        yaxis_title="Number of Dining Orders",
        margin=dict(l=10, r=10, t=50, b=20)
    )
    
    return fig

# Create a CSS file with the following content and save it in an "assets" folder
# in the same directory as this Python script
"""
/* Save this in assets/style.css */
.dashboard-title {
    text-align: center;
    color: #1e3d59;
    padding: 20px;
    margin-bottom: 20px;
}
.filter-container {
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.controls-container {
    margin-bottom: 20px;
}
.chart-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    width: 48%;
}
.wide-chart-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    width: 98%;
}
.charts-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.chart-title {
    color: #1e3d59;
    text-align: center;
    margin-bottom: 15px;
}
.date-picker, .dropdown, .radio-items {
    margin-bottom: 15px;
}
"""

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

In [18]:
import dash
from dash import dcc, html, Input, Output, State, dash_table
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import numpy as np
from datetime import datetime
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud
import base64
from io import BytesIO
import dash_bootstrap_components as dbc

# Initialize Dash app
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# Helper functions
def simple_sentiment_analysis(text):
    positive_words = ['great', 'excellent', 'good', 'best', 'amazing', 'wonderful']
    negative_words = ['bad', 'worst', 'terrible', 'poor', 'awful', 'dirty']
    
    text = text.lower()
    pos_count = sum([1 for word in positive_words if word in text])
    neg_count = sum([1 for word in negative_words if word in text])
    
    if pos_count > neg_count: return 'Positive'
    elif neg_count > pos_count: return 'Negative'
    else: return 'Neutral'

def generate_wordcloud(text):
    wordcloud = WordCloud(width=800, height=400, background_color='white', max_words=100).generate(text)
    img = BytesIO()
    wordcloud.to_image().save(img, format='PNG')
    img.seek(0)
    return 'data:image/png;base64,' + base64.b64encode(img.getvalue()).decode()

# Create sample data
def create_sample_data(n=100):
    dates = pd.date_range(start='2023-01-01', end='2023-12-31', periods=n)
    ratings = np.random.choice([1, 2, 3, 4, 5], size=n, p=[0.05, 0.1, 0.2, 0.35, 0.3])
    reviews = [
        "Excellent hotel with great service" if r >= 4 else
        "Average stay, nothing special" if r == 3 else
        "Poor experience, would not recommend" for r in ratings
    ]
    df = pd.DataFrame({
        'review_id': range(1, n+1),
        'review_date': dates,
        'Rating': ratings,
        'Review': reviews
    })
    df['Sentiment'] = df['Review'].apply(simple_sentiment_analysis)
    return df

df = create_sample_data()

# App layout
app.layout = dbc.Container([
    html.H1("Hotel Reviews Sentiment Analysis", className="text-center my-4"),
    
    dbc.Row([
        # Filters column
        dbc.Col([
            dbc.Card([
                dbc.CardHeader("Filters"),
                dbc.CardBody([
                    html.P("Date Range:"),
                    dcc.DatePickerRange(
                        id='date-picker-range',
                        start_date=df['review_date'].min(),
                        end_date=df['review_date'].max()
                    ),
                    html.Hr(),
                    html.P("Rating:"),
                    dcc.RangeSlider(
                        id='rating-slider',
                        min=1, max=5, step=1,
                        marks={i: str(i) for i in range(1, 6)},
                        value=[1, 5]
                    ),
                    html.Hr(),
                    dbc.Button("Apply Filters", id="filter-button", color="primary", className="w-100")
                ])
            ])
        ], width=3),
        
        # Charts column
        dbc.Col([
            dbc.Row([
                dbc.Col([
                    dbc.Card([
                        dbc.CardHeader("Sentiment Distribution"),
                        dbc.CardBody([
                            dcc.Graph(id='sentiment-pie-chart')
                        ])
                    ])
                ], width=6),
                dbc.Col([
                    dbc.Card([
                        dbc.CardHeader("Rating Distribution"),
                        dbc.CardBody([
                            dcc.Graph(id='rating-histogram')
                        ])
                    ])
                ], width=6)
            ], className="mb-4"),
            
            dbc.Row([
                dbc.Col([
                    dbc.Card([
                        dbc.CardHeader("Word Cloud"),
                        dbc.CardBody([
                            html.Img(id='wordcloud-image', className="img-fluid")
                        ])
                    ])
                ], width=12)
            ])
        ], width=9)
    ]),
    
    html.Hr(),
    
    # Data table
    dbc.Card([
        dbc.CardHeader("Reviews Data"),
        dbc.CardBody([
            dash_table.DataTable(
                id='reviews-table',
                columns=[
                    {"name": i, "id": i} for i in ["review_id", "review_date", "Rating", "Sentiment", "Review"]
                ],
                data=df.to_dict('records'),
                page_size=10,
                style_table={'overflowX': 'auto'}
            )
        ])
    ])
], fluid=True)

# Callbacks
@app.callback(
    [Output('sentiment-pie-chart', 'figure'),
     Output('rating-histogram', 'figure'),
     Output('wordcloud-image', 'src'),
     Output('reviews-table', 'data')],
    [Input('filter-button', 'n_clicks')],
    [State('date-picker-range', 'start_date'),
     State('date-picker-range', 'end_date'),
     State('rating-slider', 'value')]
)
def update_dashboard(n_clicks, start_date, end_date, rating_range):
    # Filter data
    filtered_df = df.copy()
    filtered_df = filtered_df[(filtered_df['review_date'] >= start_date) & 
                             (filtered_df['review_date'] <= end_date)]
    filtered_df = filtered_df[(filtered_df['Rating'] >= rating_range[0]) & 
                             (filtered_df['Rating'] <= rating_range[1])]
    
    # Sentiment pie chart
    sentiment_counts = filtered_df['Sentiment'].value_counts().reset_index()
    sentiment_counts.columns = ['Sentiment', 'Count']
    sentiment_colors = {'Positive': '#2ca02c', 'Neutral': '#1f77b4', 'Negative': '#d62728'}
    sentiment_pie = px.pie(
        sentiment_counts, names='Sentiment', values='Count',
        color='Sentiment', color_discrete_map=sentiment_colors
    )
    sentiment_pie.update_traces(textposition='inside', textinfo='percent+label')
    
    # Rating histogram
    rating_hist = px.histogram(
        filtered_df, x='Rating', nbins=5,
        color_discrete_sequence=['#636EFA']
    )
    rating_hist.update_layout(bargap=0.1)
    rating_hist.update_xaxes(tickvals=[1, 2, 3, 4, 5])
    
    # Word cloud
    wordcloud_src = generate_wordcloud(' '.join(filtered_df['Review'].tolist()))
    
    return sentiment_pie, rating_hist, wordcloud_src, filtered_df.to_dict('records')
    
import warnings
warnings.filterwarnings('ignore', 'Discarding nonzero nanoseconds in conversion')

if __name__ == '__main__':
    app.run_server(debug=True)

---------------------------------------------------------------------------
ImportedInsideCallbackError               Traceback (most recent call last)
ImportedInsideCallbackError: Component library was imported during callback.
You can set `_allow_dynamic_callbacks` to allow for development purpose only.